@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.navBar {
  margin: 0.5rem;
  position: fixed;
}

@layer components {
  .btn-base {
    @apply rounded-lg bg-zinc-400 pt-1 pb-1 pr-2 pl-2 text-zinc-100  disabled:bg-slate-300 disabled:text-slate-200;
  }
  .answer {
    @apply text-zinc-400 italic
  }
}

